*{
    font-family: 'Cinzel', serif !important;
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)), url("../img/cream.jpg");
    background-size: cover;
}
.wrapper{
    background-color: rgba(255, 255, 255, 0.7);
    width:70%;
    height: 90vh;
    margin: 0 auto;
}
.maintext{
    font-family: 'Abril Fatface', cursive !important;
}
label{
    font-size: 20px !important;
    font-weight: 600;
}
#login{
    background-color: #242424;
    color:white
}
.change{
    background-color: #242424;
    color:white
}
#login:hover, .change:hover{
    background-color: #363636;
    color:white;
}

.table{
    overflow-x: auto !important;
  
}
table th{
    font-family: 'Abril Fatface', cursive !important;
    letter-spacing: 0.02em;
}
table tr th, table tr td{
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border: 0.5px solid black;
}
