*{
    font-family: 'Cinzel', serif !important;
    scroll-behavior: smooth;
}
a{
  color: black;
  text-decoration: none;
  transition: color 0.5s ;
}
a:hover{
  color: #8a3857;
  text-decoration: none;
}
.navbar{
    font-weight: 400;
    font-size: 18px;
    transition: background 1s ease;
}
.navbar-light .navbar-nav .nav-link{
    color: black !important;
}
.navigation{
    background: rgba(248, 249, 250,0.7) !important;
}
#totop{
	position: fixed;
	bottom: 45px;
	right: 40px;
	background-color: #eeeeee;
	color: black;
	font-size: 12px;
	padding: 6px 18px;
	text-decoration: none;
	border-radius: 6px;
  transition: background 0.5s ease 0s, color 0.25s ease 0.25s;
  z-index: 99999;
}

#totop:hover {
	background-color: #c5b9c2;
	color: black;
}
#bg{
    width: 100%;
    height: 100vh;
    color:black;
    background: linear-gradient(rgba(227,227,227,0.5),rgba(255,255,255,0.5)), url('../img/sectionbg.jpg') no-repeat center center;
    background-size:cover;
}
#mainpage{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#peoplepage{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.maintext{
  font-family: 'Abril Fatface', cursive !important;
    font-weight: 700 !important;
    font-size: 4vw !important;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.mainp{
  font-size: 1.5vw !important;
}

.subtext{
  font-family: 'Abril Fatface', cursive !important;
  font-weight: 700 !important;
  font-size: 3vw !important;
  margin: 40px 0;
  text-transform: uppercase;
}

.cookie-container {
    width: 400px; 
    margin: 0 auto;
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background-color: #c5b9c2;
    color: black;
    padding: 10px;
    box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
    transition: 400ms;
    z-index: 99999;
  }
  .cookie-container p {
    margin-left: 10px;
    margin-top:5px;
    line-height: 1.5;
    font-size: 12px;
}
  .cookie-container.active {
    bottom: 0;
  }
  
  .cookie-container a {
    color: #242424;
  }
  .cookie-no, .cookie-yes{
    font-size: 12px;
  }
  .map{
      width: 400px;
      height: 300px;
      border:0;
  }
  .icons{
      width:70px;
      height:70px;
      margin:20px;
  }
  .middle{
    background: #f8f9fa;
  }
  .middle h5{
    font-family: 'Abril Fatface', cursive !important;
      font-weight: bold;
      color: #665762;
  }
  .middle p{
      text-align: justify;
      padding:10px;
  }
  .about .box{
    background: #f8f9fa;
  }
  .contact{
      vertical-align: middle;
  }
  .copyright{
    background: #f8f9fa;
    height: 10%;
    text-align: center;
  }
.order_bg{
  height:400px;
  background: linear-gradient(rgba(227,227,227,0.8),rgba(255,255,255,0.8)),url("../img/cream.jpg");
  background-size: cover;
}
.wrapper_bg{
    height:400px;
    background: linear-gradient(rgba(227,227,227,0.8),rgba(255,255,255,0.8)), url('../img/cream.jpg') no-repeat;
    background-size: cover;
}
 .people{
  text-align:center;
 }
 .people article{
   background-color: #f8f9fa;
   padding:20px;
 }
 .people h2{
    font-weight: 600;
    font-family: 'Abril Fatface', cursive !important;
    letter-spacing: 0.1em;
 }
 .people h5{
  font-weight: 600;
  font-family: 'Abril Fatface', cursive !important;
  letter-spacing: 0.2em;
 }
 .people article img{
  width: 300px;
  display:block;
  float:left;
  margin: 0 20px;
 }
 .right{
  float:right !important;
}
.left{
  float:left !important;
}
.cakebox span{
  display:block;
  background: rgba(255,213,234,0.3);
}
.cakebox h4{
  font-family: 'Abril Fatface', cursive !important;
  letter-spacing: 0.05em;
  text-align: center;
}
.cakes h5{
  font-family: 'Abril Fatface', cursive !important;
  cursor: pointer;
  text-align: center;
}
.cakes p{
  text-align: justify;
}
.cakes ul li{
  padding:10px 0;
}
.cakes .cakebox img{
  width: 100%;
}
.cakes .cakebox img:hover{
  opacity: 0.8;
}

.events{
  display: flex;
  justify-content: center;
  align-self: center;
  min-height: 100vh;
}
.events .container{
  position: relative;
  max-width: 100%;
  display:grid;
  grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
  grid-template-rows: minmax(300px,auto);
  margin: 20px;
  grid-auto-flow: dense;
  grid-gap: 10px;
}
.events .container .box{
  padding: 10px;
  display:grid;
  font-size:20px;
  place-items: center;
  text-align:center;
  color: black;
  transition: 0.5s;
}
.events .container .box img{
 position: relative;
 max-width: 400px;
 margin-bottom: 10px;
 transition: 0.5s;
}
.events .container .box img:hover{
  opacity: 0.8;
 }
 .events .container .box .content p{
  font-family: 'Abril Fatface', cursive !important;
  letter-spacing: 0.05;
 }
.order{
  background: white;
  background-repeat: repeat;
}
.order_form{
  background: rgba(197,185,194,0.5);
  border-radius: 10px;
}
.order_form label{
  font-family: 'Abril Fatface', cursive !important;
  letter-spacing: 0.05;
  font-size: 22px;
}
.sidebox{
  background: rgba(197,185,194,0.5);
  border-radius: 10px;
}
.side p{
  font-family: 'Abril Fatface', cursive !important;
}
.side p a{
  font-weight:600;
}

.side ul li{
  list-style-type: none;
}

#send{
  background-color: #242424;
  color:white
}
#send:hover{
  background-color: #363636;
}
  @media screen and (max-width: 1050px){
    .cookie-container{min-width: 500px; line-height: 1em;}
    .maintext{
      font-size: 7vw !important; 
    }
    .subtext{
      font-size: 3.8vw !important; 
    }
    .mainp{
      font-size: 2vw !important;
    }
  }
  @media screen and (max-width: 769px){
    .people h5{
      display:inline-block;
     }
     .right, .left{
       float: none !important;
       display:block;
     }
     .subtext{
      font-size: 5vw !important; 
    }
  }
  @media screen and (max-width: 610px){
    .cookie-container p{width: 90vw; line-height: 1em;}
    .mainp{
      font-size: 3vw !important;
    }
    
  }

  @media screen and (max-width: 430px){
    .mainp{
      font-size: 4vw !important;
    }
    .people article img{
      width:250px !important;
    }
  }
